<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>量化交易系统—三K模块</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
    <link href="../../static/css/bootstrap-datetimepicker.css" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div style="margin:15% ">
                        <a href="#"><h3 style="color: #ffffff">量化交易小助手</h3></a>
                    </div>
                </li>


                <li>
                    <a href="{% url 'stock_table' %}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 推荐股票</a>
                </li>
                <li>
                    <a href="{% url 'stock_mine' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 我的选股</a>
                </li>
                <li>
                    <a class="active-menu" href="{% url 'stock_charts' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 回归测试</a>
                </li>
                <li>
                    <a href="{% url 'back_test_table' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 测试结果</a>
                </li>
                <li>
                    <a href="{% url 'strategy_setting' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 策略设置</a>
                </li>
                <li>
                    <a href="{% url 'strategy_introduction' %}"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> 策略介绍</a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">回归测试</h1>
                    <div>
                        <div >
                        <div style="width: 25%;float: left;">
                            <label style="float: left;">开始日期:</label>
                            <div class="input-group" style="margin-left: 25%">
                            <input  class="form-control" type="text" id="startDate" name="startDate" value="{{ back_test_start_date }}"/>
                            </div>
                        </div>
                        <div  style="width: 25%;float: left;">
                            <label style="float: left;">结束日期:</label>
                            <div class="input-group"  style="margin-left: 25%">
                            <input  class="form-control" type="text" id="endDate" name="endDate" value="{{ back_test_end_date }}"/>
                            </div>
                        </div>
                        <div  style="width: 25%;float: left;">
                            <label style="float: left;margin-top: 0.5%">资金数额:</label>
                            <div class="input-group"  style="margin-left: 25%">
                                <span class="input-group-addon">￥</span>
                                <input type="text"  aria-label="Amount (to the nearest yuan)" id="totalMoney" value="{{ initial_money }}"/>
                            </div>
                        </div>
{#                            <a href="{% url 'back_test_multi_code' %}">#}
                            <a>
                                <button class="btn btn-primary" style="float: left;margin-left: 5%" onclick="backTest()">回归测试 </button>
                            </a>
                        </div>
                        <br/>

                    </div>

{#                    <div style="width:100%;margin-top: 3%;float: left">#}
{#                        <div class="form-group" style="width: 25%;float: left;" id="profitMoney">#}
{#                            <label >收益金额:</label>#}
{#                        </div>#}
{#                        <div class="form-group" style="width: 25%;float: left;" id="profitRate">#}
{#                            <label >年化收益率:</label>#}
{#                        </div>#}
{#                    </div>#}

                </div>
                </div>
            <div class="row">
                <div id="charts" style="margin-top:5%;width: 1000px;height:600px;" class="col-md-12">

                </div>
            </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="alert alert-info">-->
                    <!--This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.-->
                    <!--<br />-->
                    <!--Enjoy this admin and for more please keep looking <a href="http://#/" target="_blank">www.cssmoban.com</a>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec">
    &copy; Stock-Analysis
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script type="text/javascript">
    var myStockList={{ my_stock_list|safe }};
    var rawData={{ list|safe }};
    {#var strategy_name = {{ strategy_name|safe }};#}
    {#var profitRate_day ={{ profitRate_day|safe }}#}
    {#console.log(myStockList.length)#}
</script>
<script src="../../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../../static/js/bootstrap.js"></script>

<script src="../../static/js/bootstrap-datetimepicker.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
{#<script src="../../static/js/custom.js"></script>#}
<script src="../../static/js/echarts.js"></script>
<script src="../../static/js/quanter/backtest.js"></script>
<script src="../../static/js/quanter/stockpool.js"></script>
<script type="text/javascript">
    $("#startDate").datetimepicker({
        minView : 2,
        format: 'yyyy-mm-dd'
    });
    $("#endDate").datetimepicker({
        minView : 2,
        format: 'yyyy-mm-dd',
        todayBtn : true
    });
</script>


</body>
</html>