<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>量化交易系统—太极模块</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/css/custom.css" rel="stylesheet" />

    <!-- GOOGLE FONTS-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Stock-Analysis</a>
        </div>

{#        <div class="header-right">#}
{#            <a href="#" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>#}
{##}
{##}
{#        </div>#}
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div style="margin-left:30% ">
                        <img src="../../static/img/stock.png"/>
                    </div>
                </li>


                <li>
                    <a href="{% url 'stock_table' %}"><i class="fa fa-dashboard "></i>推荐股票</a>
                </li>
                <li>
                    <a class="active-menu" href="{% url 'stock_mine' %}"><i class="fa fa-anchor "></i>我的选股</a>
                </li>
                <li>
                    <a  href="{% url 'stock_charts' %}"><i class="fa fa-anchor "></i>回归测试</a>
                </li>
                <li>

                <li>
                    <a href="{% url 'strategy_introduction' %}"><i class="fa fa-desktop "></i>策略介绍 </a>
                </li>

            </ul>
        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">我的选股</h1>
                    <div class="row">
                        <div style="margin: 5%;">
                            <!--    Striped Rows Table  -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    股票列表
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table  id="table" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>股票名称</th>
                                                <th>股票代码</th>
                                                <th>年收益率%</th>
                                                <th>移除选股</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                                {% for res in res_list%}
                                                    <tr>
                                                        <td>{{ res.name }}</td>
                                                        <td>{{ res.code }}</td>
                                                        <td>{{ res.profit }}</td>
                                                        <td>
                                                            <a href="{% url 'delete_my_stock' res.code %}">
                                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <!--<ul class="pagination">-->
                                            <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
                                            <!--<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
                                            <!--<li><a href="#">2</a></li>-->
                                            <!--<li><a href="#">3</a></li>-->
                                            <!--<li><a href="#">4</a></li>-->
                                            <!--<li><a href="#">5</a></li>-->
                                            <!--<li><a href="#">&raquo;</a></li>-->
                                        <!--</ul>-->
                                    </div>
                                </div>
                            </div>
                            <!--  End  Striped Rows Table  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="alert alert-info">-->
                    <!--This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.-->
                    <!--<br />-->
                    <!--Enjoy this admin and for more please keep looking <a href="http://#/" target="_blank">www.cssmoban.com</a>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec">
    &copy; Stock-Analysis
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../../static/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../../static/js/custom.js"></script>
<script src="../../static/js/jquery-latest.js"></script>
<script src="../../static/js/jquery.tablesorter.js"></script>
<script>
    $(document).ready(function()
        {
            $("#table").tablesorter();
        }
    );
</script>



</body>
</html>