<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>量化交易系统—三K模块</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/css/custom.css" rel="stylesheet" />
    <link href="../../static/css/mycss.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
</head>
<body>
    <div id="wrapper">
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div style="margin:15% ">
                        <a href="#"><h3 style="color: #ffffff">量化交易小助手</h3></a>
                    </div>
                    </li>

                    <li>
                        <a href="{% url 'stock_table' %}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 推荐股票</a>
                    </li>
                    <li>
                        <a href="{% url 'stock_mine' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 我的选股</a>
                    </li>
                    <li>
                        <a href="{% url 'stock_charts' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 回归测试</a>
                    </li>
                    <li>
                        <a href="{% url 'back_test_table' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 测试结果</a>
                    </li>
                    <li>
                        <a  href="{% url 'strategy_setting' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 策略设置</a>
                    </li>
                    <li>
                        <a  class="active-menu" href="{% url 'strategy_introduction' %}"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> 策略介绍</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">策略介绍</h1>
                        <h3>三K理论的介绍</h3>
                        <p>
                            如下图所示为三K理论的介绍：
                        </p>
                        <img src="../../static/img/ThreeK.png" style="height: 291px; width: 500px; margin-bottom: 10px">
                        <p>
                            转强之后转多，继续阳上阳表现为涨势；
                        </p>
                        <p>
                            转弱之后转空，继续阴下阴表现为跌势；
                        </p>
                        <p>
                            转强之后转多失败，或是转多成功但之后阴包阳低表示止涨；
                        </p>
                        <p>
                           转弱之后转空失败，或是转空成功但之后阳包阴表示止跌；
                        </p>

                        <h3>葛兰碧八大法则的介绍</h3>
                        <div style="width: 70%">
                            <p>
                            葛兰碧八大交易法则，是利用价格与其移动平均线的关系作为买进与卖出讯号的依据。
                            其认为价格的波动具有某种规律，但移动平均则代表着趋势的方向。
                            因此，如果价格波动偏离趋势（即价格与移动平均的偏离），
                            那么未来将会朝趋势方向修正，所以发生偏离时，是一个买卖讯号。
                            </p>
                            <p>
                                目前价格与均线的差距称为乖离(bias)，bias=股价-MA，其中MA为移动平均(moving average)。
                                当乖离越大时，价格修正的可能性就越高。因此乖离是一个有用的观察指标。
                                另一方面，移动平均线是较长期的价格发展线，因此相较于价格线而言，移动平均线具有一种趋势的概念，
                                且平均的日期越大，所代表的时间刻度就越大。但当趋势发生改变时，趋势线还没有感受到时，
                                价格将会先反应，在这个时候，价格线将与移动平均线发生交叉现象，代表着趋势改变的含义，
                                因此价格与均线的关系也是很有用的观察指标。葛兰碧八大交易法则，就是综合利用上述观察指标的原理，
                                归纳出买进卖出讯号。
                            </p>
                            <p>
                                本策略利用其中两个原则：
                            </p>
                            <p>
                                1：价格突然暴跌，跌破平均线，且远离平均线，则有可能反弹上升，为买进信号
                            </p>
                            <p>
                                2：价格突然暴涨，突破平均线，且远离平均线，则有可能反弹会跌，为卖出信号
                            </p>
                            <p>
                                如下图所示，位置1表示线下负乖离买止跌，位置5表示线上正乖离空止涨，虚线为移动平均线：
                            </p>
                            <img src="../../static/img/GranvilleRules.png" style="height: 218px; width: 500px; margin-bottom: 10px">
                            <p>
                                综上，策略结合了三K理论与葛兰碧八大法则的内容，策略的主要标准如下：
                            </p>
                            <p>
                                标准1：均线趋势向上的背景下买进，在正乖离过大的位置卖出
                            </p>
                            <p>
                                标准2：利用均线趋势向下的背景里的负乖离买反弹，在接近向下均线的位置卖出
                            </p>

                        </div>

                    </div>

                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; Stock-Analysis
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../static/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../static/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../static/js/custom.js"></script>
</body>
</html>
