<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>量化交易系统—三K模块</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../../static/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../static/css/custom.css" rel="stylesheet" />
    <link href="../../static/css/mycss.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
</head>
<body>
    <div id="wrapper">
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div style="margin:15% ">
                        <a href="#"><h3 style="color: #ffffff">量化交易小助手</h3></a>
                    </div>
                    </li>

                    <li>
                        <a href="{% url 'stock_table' %}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 推荐股票</a>
                    </li>
                    <li>
                        <a href="{% url 'stock_mine' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 我的选股</a>
                    </li>
                    <li>
                        <a href="{% url 'stock_charts' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 回归测试</a>
                    </li>
                    <li>
                        <a href="{% url 'back_test_table' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 测试结果</a>
                    </li>
                    <li>
                        <a  class="active-menu" href="{% url 'strategy_setting' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 策略设置</a>
                    </li>
                    <li>
                        <a href="{% url 'strategy_introduction' %}"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> 策略介绍</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">策略设置</h1>
                        <h3>策略描述</h3>
                        <p>
                            标准1：均线趋势向上的背景下买进，在正乖离过大的位置卖出
                        </p>
                        <p>
                            标准2：利用均线趋势向下的背景里的负乖离买反弹，在接近向下均线的位置卖出
                        </p>

                        <h3 style="display: inline-block">设置参数</h3>
                        <span class="glyphicon glyphicon-pencil point_icon" aria-hidden="true" onclick="toEdit()" id="negativeDepartureEditBtn" style="margin-left: 5px"></span>
                        <div>
                            <div class="readonly" id="positiveDepartureDiv">
                                <label for="positiveDeparture">正乖离: </label>
                                <input type="text" readonly id= "positiveDeparture" value="{{ setting.positive_departure }}" style="width: 70px"/>
                            </div>
                        </div>
                        <div>
                            <div class="readonly" id="negativeDepartureDiv">
                                <label for="negativeDeparture">负乖离: </label>
                                <input id="negativeDeparture" readonly style="width: 70px" value="{{ setting.negative_departure }}" />
{#                                <span class="glyphicon glyphicon-pencil point_icon" aria-hidden="true" onclick="toEdit()" id="negativeDepartureEditBtn"></span>#}
                                <div id="negativeDepartureOperationBtns" style="display: inline-block; visibility: hidden">
                                    <span class="glyphicon glyphicon-ok point_icon" aria-hidden="true" id="negativeDepartureSaveBtn" onclick="toSave()"></span>
                                    <span class="glyphicon glyphicon-remove point_icon" aria-hidden="true" id="negativeDepartureCancelBtn" onclick="toCancel()"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="readonly" id="stopProfitDiv">
                                <label for="positiveDeparture">止  盈: </label>
                                <input type="text" readonly id= "stopProfit" value="{{ setting.stop_profit }}" style="width: 70px;margin-left: 10px"/>
                            </div>
                        </div>
                        <div>
                            <div class="readonly" id="stopLossDiv">
                                <label for="positiveDeparture">止  损: </label>
                                <input type="text" readonly id= "stopLoss" value="{{ setting.stop_loss }}" style="width: 70px; margin-left: 10px"/>
                            </div>
                        </div>
                        <h3>参数介绍</h3>
                        <p>
                            正乖离：>=5.0，对应上述"正乖离过大的位置卖出"
                        </p>
                        <p>
                            负乖离：<=-5.0，对应上述"负乖离买反弹"
                        </p>
                        <p>
                            止盈：当日股价相对于买入时股票上涨的百分比
                        </p>
                        <p>
                            止损：当日股价相对于买入时股价下跌的百分比
                        </p>
                    </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; Stock-Analysis
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script>
        var strategyDict = {{ strategyDict|safe }};
    </script>
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../static/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../static/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../static/js/custom.js"></script>
    <script src="../../static/js/quanter/strategysetting.js"></script>
</body>
</html>
